footer {
    padding: 16px;
    background-color: #434445;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: $colorFechas;
    position: fixed;
    bottom: 0;
    width: 100%;
}
